@use "sass:map";
@import "../../styles/variables";
@import "../../styles/__breakpoints";

.signup__form {
    &--container {
        @include display_flex__column;
        align-items: flex-start;
    }

    &--submit__button {
        background-color: $primary_color;
        border: none;
        color: $white_color;
        padding: 15%;
    }
}